# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/

# Test Results
TestResults/
*.trx
*.coverage

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
